* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

/* CSS GRID | MAIN STRUCTURE */

body {
    display:grid;
    grid-template-columns: 
    10em 1fr 10em;
    grid-template-areas: 
    "nav nav nav"
    ". main ."
    ". hire ."
    ". work ."
    ". clients ."
    ". probono ."
    ". collab ."
    ". resume ."
    ". connect ."
    ". footer.";
    row-gap: 1rem;;
}

/* CSS GRID | MAIN GRID AREAS */

header { grid-area: nav; }
main { grid-area: main; }
#hire-bar { grid-area: hire; }
#work { grid-area: work; }
#clients { grid-area: clients; }
#probono { grid-area: probono; }
#collab { grid-area: collab; }
header { grid-area: nav; }
footer { grid-area: footer; }



/* CSS GRID | SUB STRUCTURES */

main {
    display:grid;
    grid-template-columns: 
    1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "today today today . . source source source"
    ". . mcard mcard mcard mcard . ."
    "timestamp timestamp timestamp . . project-title project-title project-title";
}

    .maincard{ grid-area:mcard; text-align:center; }
    .timestamp { grid-area:timestamp; }
    .source { grid-area:source; text-align:right;}
    .project-title { grid-area:project-title; text-align:right;}
    .today { grid-area:today; }

#hire-bar {
    display:grid;
    grid-template-columns: 
    1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "htext htext htext htext hbtn hbtn";
}

    .htext {grid-area:htext;}
    .hbtn {grid-area:hbtn;}

#work, #clients, #probono, #collab {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    grid-template-areas: 
    "section-title section-title section-title"
    "card card card";
}

.section-title { grid-area: section-title; }
/* NAV FLEXBOX */

header {
    display: flex;
    justify-content: center;
    align-content: center;
}

    nav ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        gap: 1rem;
    }

    nav ul:nth-child(*) {
        align-items:center;
    }



/* CARD CSS GRID STRUCTURE */
    
    .box {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "title title title"
        "desc desc desc"
        "live live live";
        gap: .5rem 0;
    }

    .card-row-main {
        display: flex;
        justify-content: space-between;
        align-content: flex-start;
    }

    .card-row-main { grid-area: title;}
    .projDescription {grid-area: desc; }
    .box .deployed {grid-area: live;
    text-align:right; }

/* CARD STYLES */

    .box {
        box-shadow: 0 5px 10px #e7e7e7;
        border-radius: 1rem;
        padding:1.5rem;
    }


header, footer {
    background-color: rgb(50, 50, 50);
    color: #fff;
}

main, #work, #clients, #probono, #collab {
        padding: 5rem 0;
        background-color: rgb(248, 200, 200);
    }
 
main {
    
        border-radius: 1rem;
        padding: 1.5rem;
        background-color: rgb(184, 235, 254);
}    

    .maincard {
        box-shadow: 0 5px 10px #000000;
        background-color: rgba(255, 255, 255, 0.033);
            border-radius: 1rem;
        padding: 3rem 0;
        margin: 3rem 0 5rem;

    }    

#hire-bar {
    border-radius: 1rem;
        padding: 1rem 1.5rem;
        background-color: rgb(184, 235, 254);
}