#careerTitle::before {
	content: "Full Stack Web Developer";
	animation: changeText infinite 12s;
}

@keyframes changeText {
	0% {
		content: "Web Designer";
	}
	20% {
		content: "UI Developer";
	}

	40% {
		content: "Mobile App Designer";
	}
	60% {
		content: "Product Designer";
	}
	80% {
		content: "UX Researcher";
	}
}

.st0 {
	fill: #ffffff;
}
.st1 {
	fill: none;
	stroke: #494949;
	stroke-width: 10;
	stroke-miterlimit: 10;
}
.st2 {
	fill: #eeeeee;
}
.st3 {
	fill: #aeaeae;
}
.st4 {
	fill: #c9c8c8;
}
.st5 {
	clip-path: url(#SVGID_00000121963150699714611830000018367862808030137013_);
}
.st6 {
	fill: none;
	stroke: #494949;
	stroke-width: 8;
	stroke-miterlimit: 10;
}
