/* declaring variables */
:root {
  --main-font: 'Open Sans', Helvetica, sans-serif;
  --code-font: 'Space Mono', Courier, monospace;
}

/* GLOBAL STYLES */

body {
  background-color: #fbfcfd;
  font-family: var(--main-font);
  font-size: 0.9rem;
  line-height: 1.6rem;
}

/* SECTION UTILITIES */

.content {
	padding: 125px 0;
}

	.light {
		background: #FFFFFF;
	}
	.dark {
		background: #F4F7FC;
	}

/* SIZING UTILITIES */

.container {
  width: 100%;
}
	.quarter {
		width: 25%;
	}

	.half {
		width: 50%;
	}

	.third {
		width: 33%;
	}
	
/* FLEX UTILITIES */

.flex {
  display: flex;
}
	.flex-wrap {
		flex-wrap:wrap;
	}

	.space-between {
		justify-content: space-between;
	}

	.space-evenly {
		justify-content: space-evenly;
	}

	.center {
		align-items: center;
	}

	.baseline {
	align-items: flex-end;
}

	.gap {
		gap:1rem;
	}

	.container-item {
		display: flex;
		flex: 2 1 90%;
	}

	.margin-auto {
		margin-right: auto;
		margin-left: auto;
	}

/* ANCHOR STYLES  */
#about, #portfolio, #contact {
	scroll-margin-top: 3em;
}

#contact {
	height:90vh;
}

/* PROFILE */

.section-title {
	flex: 1 1 10%;
	font-family: var(--code-font);
  	font-size: 1rem;
	margin-right: 2rem;
	text-align: right;
}

.overlay {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(45deg,#e66465, #4d0fe9);
	transition: all 200ms linear;
	border-radius: 5px;
	-moz-box-shadow:    inset 0 0 100px #00000044;
	-webkit-box-shadow: inset 0 0 100px #00000044;
	box-shadow:         inset 0 0 100px #00000044;
}

	.profile-pic {
		object-fit: cover;
		object-position: center;
		border-radius: 50%;
		border: 5px solid white;
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.163), 0 3px 5px rgba(0, 0, 0, 0.094);
		max-width: 150px;
		max-height: 150px;
	}

	.links {
		display: flex;
		flex-direction: column;
	}

	.links a {
		text-decoration: none;
		padding: 10px;
		color: grey;
		border-bottom: 1px solid lightgrey;
	}

	.links a:last-child {
		border-bottom: 0 solid lightgrey;
	}

	.links a:hover {
		color: rgb(29, 169, 235);
	}

	.profile-text {
		flex: 1 1 0;
	}

/* HEADER STYLES */

header {
  background-color: #1e1e1e;
  color: white;
  position: sticky;
  top: 0;
	z-index:1;
}

	h1 {
		display: inline;
	}
	#logo {
		font-size: 0.85rem;
		margin-left: 2rem;
		font-family: var(--code-font);
	}

	nav {
		padding-right: 20px;
	}

	nav a {
		text-decoration: none;
		padding: 15px 20px;
		color: white;
	}

/* PORTFOLIO CARD STRUCTURE STYLES */

#portfolio a {
	text-decoration:none;
	color: #343434;
}

	.card {
		flex: 1 1 45%;
	}

	.card:nth-child(1) {
		flex: 2 1 100%;

	}

/* CARD OBJECT STYLES */

.card {
	position:relative;
	height: 45vh;
	background-color: #fff;
	border: 4px solid #343434;
	border-radius: 10px;
  	box-shadow: 0px 5px 5px rgba(29, 29, 29, 0.122);
	z-index:0;
}

		.card-image {
			object-fit: cover;
			object-position: top;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			position: absolute;
			opacity: .25;
			border-radius: 5px;
			transition: all 100ms linear;

		}

		.card-image:hover {
			opacity: 1;
			}

.overlay {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(45deg,#e66465, #4d0fe9);
	transition: all 200ms linear;
	border-radius: 5px;
	-moz-box-shadow:    inset 0 0 100px #00000044;
	-webkit-box-shadow: inset 0 0 100px #00000044;
	box-shadow:         inset 0 0 100px #00000044;
}


/* CARD DETAILS STYLES */

.card-description {
	position: relative;
	top: auto;
	bottom:-60%;
	padding: .25rem .5rem .45rem;
	width:80%;
	background-color: #ffffffee;
}

	.card-description h3 {
		font-size: 0.85rem;
		margin-top:4px;
		margin-bottom:.5rem;
		line-height:.90rem;
	}

	.card-description p {
		font-size: .75rem;
		line-height: .90rem;
		margin-bottom:.20rem;
	}

	/* CARD ELEMENTS | BADGES STYLES */

	.badge {
		border-radius: 3px;
		padding:0 5px;
		color:#FFFFFF;
		margin-left: .1rem;
	}

	.badge:first-child {
		margin-left:.5rem;
	}

		.live {
			background-color: rgb(37, 185, 37);
			/* border: 1px solid darkgreen; */
		}

		.repo {
			background-color: rgb(48, 14, 136);
			/* border: 1px solid darkgreen; */
		}

/* FORM STYLES  */

	label {
		display: none;
		text-transform: uppercase;
		font-size: 0.75em;
		letter-spacing: 0.1em;
		color: grey;
		font-family: var(--code-font);
	}

	input {
		padding: 1rem;
		flex: 1 0 auto;
		border: 2px solid black;
		border-radius: 5px;
		font-family: var(--code-font);
	}

	button {
		flex:1 1 auto;
		display: inline-block;
		background: linear-gradient(45deg,#e66465, #4d0fe9);
		color: white;
		padding: .9rem 0.75em;
		border: 2px solid black;
		border-radius: 5px;
		font-family: var(--code-font);
		font-size: 10pt;
		text-decoration: none;
	}

		button:hover {
			background: rgb(94, 170, 217);
			color: white;
		}

/* FOOTER STYLES */

footer {
	position: sticky;
	bottom: 0;
	width: 100%;
	background-color: #fff;
	font-family: var(--main-font);
	font-size: 0.75em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	text-align: center;
	line-height: 1.5em;
	padding: .5rem 0;
	box-shadow: 0 0 2px rgb(206, 206, 206);
}

	footer a {
		color:#343434;
	}

	
@media (max-width: 420px) {
	.container {
		max-width: 295px;
	}

	#about, #portfolio, #contact {
		scroll-margin-top: 7em;
	}
	
	#contact {
		height:80vh;
	}

		header, 
		#about .flex, 
		#portfolio .flex, 
		#contact .flex {
			flex-direction:column;
			justify-content: stretch;
		}

		footer {
			position: relative;
			padding: .5rem 1rem;
		}

			.card {
			flex: 1 1 250px;
			}

			.card-description {
				top: auto;
				bottom: -45%;
			}

		#about .gap {
			justify-content: stretch;
		}

		#about .links {
			flex: 1 1 0;
		}

			.content {
				padding: 35px 0;
			}

			.profile-pic {
				max-width: 225px;
				max-height: 225px;
				margin: 0 auto;
			}

			.profile-text {
				max-width: 100%;
				flex: 2 1 100%;
			}

		.section-title {
			margin-right:0;
			margin-bottom: 1rem;
			text-align: center;
		}

		header h1 {
			border-bottom: 1px solid #fff;
		}

		#logo {
			margin-left:0;
			padding: 10px 0;
			flex: 1 1 100%;
		}

			nav {
				padding-right:0;
			}

			.space-evenly {
				align-items:stretch;
			}

			.links {
				display:flex;
				justify-content: space-between;
			}
}


@media (min-width: 568px) {
	.container {
		max-width: 500px;
	}

	#about, #portfolio, #contact {
		scroll-margin-top: 7em;
	}
	
	#contact {
		height:80vh;
	}

		/* header,  */
		#about .flex, 
		#portfolio .flex, 
		#contact .flex {
			flex-direction:column;
			justify-content: stretch;
		}

		footer {
			position: relative;
			padding: .5rem 1rem;
		}

			.card {
			flex: 1 1 250px;
			height: 200px;
			}

			.card-description {
				top: auto;
				bottom: -45%;
			}

		#about .gap {
			justify-content: stretch;
		}

		#about .links {
			flex: 1 1 0;
		}

			.content {
				padding: 35px 0;
			}

			.profile-pic {
				max-width: 225px;
				max-height: 225px;
				margin: 0 auto;
			}

			.profile-text {
				max-width: 100%;
				flex: 2 1 100%;
			}

		.section-title {
			margin-right:0;
			margin-bottom: 1rem;
			text-align: center;
		}

		/* header h1 {
			border-bottom: 1px solid #fff;
		} */

		#logo {
			margin-left:1rem;
			padding: 10px 0;
			flex: 1 1 100%;
		}

			nav {
				padding-right:0;
			}

			.space-evenly {
				align-items:stretch;
			}

			.links {
				display:flex;
				justify-content: space-between;
			}

}

@media (min-width: 768px) {
	.container {
		max-width: 650px;
	}

	#about, #portfolio, #contact {
		scroll-margin-top: 3em;
	}

	.content {
		padding: 3rem 0;
	}

	.card {
		height: 325px;
	}

	.card-description{
		position: relative;
		top:auto;
		bottom: -55%;
		padding: 0.25rem 0.5rem 0.45rem;
		width: 80%;
		background-color: #ffffffee;
		}

		.links {
			display: flex;
			flex-direction: column;
		}

		#contact {
			height: 92vh;
		}

}

@media (min-width: 992px) {
	.container {
		max-width: 800px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1100px;
	}
}