/* declaring variables */
:root {
    --main-font: "Open Sans", Helvetica, sans-serif;
    --code-font: Courier, mono-space;
}

/* Global Styles */

.flex {
    display:flex;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.center {
    align-items:center;
}

form > * {
    flex: 1 0 40%;
}

.grid-parent {
    display:grid;
    gap:.85rem;
    grid-template-columns: 1fr 2fr 1fr;
}

.grid-parent:nth-child(*) {
    grid-column: span 1;
}

.portfolio-grid {
    grid-column: span 2;
    display:grid;
    gap:2rem;
    grid-template-columns: 1fr 1fr 1fr ;
}

.portfolio-grid:nth-child(*){
    grid-column: span 1;
}

/* .about {
    padding-top:62px;
} */

section, footer {
    margin: 2rem 5rem;
}

#logo {
    font-size: .85rem;
    margin-left:2rem;
}

body {
    background-color: #fbfcfd;
    font-family: var(--main-font);
    font-size: .9rem;
    line-height:1.6rem;
}



header {
    background-color: #3d3d3d;
    color: white;
    /* position:fixed;
    width: 100%;
    top:0; */
}

h1 {
    display:inline;
}

h2, footer h3 {
    text-align:right;
    border-right: .1rem solid rgb(194, 194, 194);
    padding-right:15%;
    margin-right:10%;
}

h2 {
    font-size: 1rem;;
}

nav{
    padding-right: 20px;
}

nav a {
    text-decoration: none;
    padding:20px;
    color:white;
}

.links a {
    text-decoration: none;
    padding:15px;
    color: grey;
}

a:hover {
    color:rgb(29, 169, 235);
}

.card {
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(126, 126, 126, 0.089);
    border: 1px solid rgb(240, 240, 240);
    background-color: #fff;
}

.card-image {
    object-fit: cover;
    object-position:center;
    display:block;
    width:100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.card-description {
    padding: .95rem;

}
.card-description > *{
    padding-bottom: .50rem;
}

.card-description > *:last-child{
    padding-bottom: 0;
}

.card-description h3 {
    font-size: .85rem;
}

.card-btn {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: .5rem;
}

.button {
    display: inline-block;
    background:rgb(85, 171, 224);
    color:white;
    padding: .5em .75em;
    border-radius: .25rem;
    font-family: var(--code-font);
    font-size: 10pt;
    text-decoration: none;
}

.button:hover {
    background:rgb(54, 130, 178);
    color:white;
}

.links {
    display:block;
}


label {
    display: block;
    text-transform:uppercase;
    font-size: .75em;
    letter-spacing: .1em;
    color: grey;
    font-family: var(--code-font);
}

footer {
    font-size: .75em;
    text-transform: uppercase;
    letter-spacing: .10em;
    text-align: right;
    justify-content: flex-end;
    align-content: flex-end;
}

footer .credits {
    font-weight: 400;
    font-size: .95em;
}

footer p {
    grid-column: span 2;
}