* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* NAVIGATION STRUCTURE & STYLES */

header {
    display: flex;
    justify-content: space-around;
    align-content: center;
    position:sticky;
    top:0;
    width: 900px;
    margin: 0 auto;
}

    nav ul {
        list-style-type: none;
        
        display: flex;
        justify-content: space-around;
        align-content: center;
    }

    nav ul > li {
        margin:0 .5rem;
    }

.flex-parent {
    display:flex;
    justify-content: space-between;
}


/* CSS GRID | MAIN STRUCTURE */

.grid {
    display:grid;
    grid-template-columns:
    5em 5em 3em 1fr 3em 5em 5em;
}

.grid-parent {
    display:grid;
    grid-template-columns: subgrid;
}

    header {
        grid-column: 4 /-4;
        }

    main,
    #hire-bar,
    #work,
    #clients,
    #probono,
    #collab,
    #resume,
    #connect,
    footer {
        grid-column:1/-1;
    }

        #main-c, 
        #hire-bar-c, 
        #work-c, 
        #clients-c, 
        #probono-c, 
        #collab-c,
        #resume-c,
        #connect-c {
            grid-column: 3 / -3;
        }

footer {
    position:sticky;
    bottom:0;
    display:grid;
    grid-template-columns: repeat(3,1fr);
}

/* CSS GRID | SUB STRUCTURES - USE FLEXBOX?*/

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -5;;
  }

#main-c {
    display:grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas:
    "today today today today . source source source"
    ". . mcard mcard mcard mcard . ."
    ". . . . . . . ."
    "timestamp timestamp timestamp timestamp . project-title project-title project-title";
    /* ADDED for missing SUBGRID BROWSER COMPATIBILITY */
    width: 1010px;
    margin: 0 auto;
}

    .maincard{ grid-area:mcard; text-align:center; }
    .timestamp { grid-area:timestamp; }
    .source { grid-area:source; text-align:right;}
    .project-title { grid-area:project-title; text-align:right;}
    .today { grid-area:today; }

    #maincard-c {
        display:grid;
        grid-template-columns: repeat(6,1fr);
        padding: 1rem;
        gap:.5rem;
    }

        .profile-image {
            grid-row: span 2;
            grid-column: span 2;
        }
        .prompt {
            grid-column: 3 / -1;
            text-align: left;
            /* padding:.5rem 0 0 1.5rem; */
        }
        .prompt p {
            font-size: 10pt;
            font-weight: 300;
            margin-bottom:.6rem;
        }

        

/* CSS GRID | HIREBAR STRUCTURE - USE FLEXBOX?*/

    #hire-bar-c {
        display:grid;
        grid-template-columns: repeat(6,1fr);
        grid-template-areas:
        "htext htext htext htext htext hbtn";
        /* ADDED for missing SUBGRID BROWSER COMPATIBILITY */
        width: 1010px;
        margin: 0 auto;
    }

            .htext {grid-area:htext;}
            .hbtn {grid-area:hbtn;}



/* CSS GRID | PORTFOLIO STRUCTURE */

    #work-c,
    #clients-c,
    #probono-c,
    #collab-c,
    #resume-c,
    #connect-c {
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
        gap: 1em; 
        /* ADDED for missing SUBGRID BROWSER COMPATIBILITY */
        width: 1010px;
        margin: 0 auto;
    }

        #work-c .section-title,
        #clients-c .section-title,
        #probono-c .section-title,
        #collab-c .section-title,
        #resume-c .section-title,
        #connect-c .section-title {
            grid-column: 1 / -1;
            grid-row: 1 / 2;
        }

    .section-title {
        text-transform: uppercase;
    }

    /* PORTFOLIO CARD CSS GRID STRUCTURE */
        
        .box {
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas: 
            "title title title"
            "desc desc desc"
            "live live live";
            gap: .5rem 0;
        }

            .card-row-main {
                display: flex;
                justify-content: space-between;
                align-content: flex-start;
            }

            .card-row-main { grid-area: title;}
            .projDescription {grid-area: desc; }
            .box .deployed {grid-area: live;
            text-align:right; }

        /* PORTFOLIO CARD STYLES */

            .box {
                box-shadow: 0 5px 10px #e7e7e7;
                border-radius: 1rem;
                padding:1.5rem;
                background-color: #fff;
            }


/* NAVIGATION STYLES */

header {
    background-color: #ffffffe6;
    color: #434343;
    font-size: 9pt;
    border-bottom-left-radius: .75rem;
    border-bottom-right-radius: .75rem;
    padding:.75rem 0;
    box-shadow: 0px 4px 16px #52525229;

}

    header .logo {
        font-family: 'Courier New', Courier, monospace;
        font-size: 9pt;
        margin-right: 3rem;
    }

        .no-weight {
            font-weight:lighter;
        }

    nav {
        font-family: Arial, Helvetica, sans-serif;
        text-transform: lowercase;
    }

        nav a {
            text-decoration: none;
            color: #434343;
        }

        nav a:hover {
            color: #29a6e5;
            background-color: rgb(220, 252, 255);
            padding:5pt 0;
        }

    header > input {
        font-family:'Courier New', Courier, monospace;
        font-size: 8pt;
        padding:1px 7px 0;
        text-transform: lowercase;
    }


/* PORTFOLIO STYLES */
#work, #clients, #probono, #collab, #resume, #connect {
        padding: 4rem 0;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10pt;
    }

    #work { background-color: #4D85A8; }
    #clients { background-color: #E6FFD6; }
    #probono { background-color: #ffffff; }
    #collab { background-color: #EFF8FF; }
    #resume { background-color: #FFFFFF; }
    #connect { background-color: #FFF500; }


    #work {
        padding-top:4rem;
    }
    #work h2 {
        color: white;
    }

    #work .box {
        box-shadow: 0px 10px 16px #52525229;
    }

.projTitle {
    font-family: 'Courier New', Courier, monospace;
    color:#343434;
    font-size:10pt;
}    

.projDescription {
    color: #343434;
    line-height:14pt;
}

.deployed {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(24, 173, 248);
    font-size: 8pt;
}

.slug {
    font-size: 10pt;
    font-weight: normal;
    font-style: italic;
}

/* MAIN CONTENT STYLES */
main {
    margin-top: -8vh; /* Removes GAP from HEADER position:sticky */
    padding: 5rem 0 1rem;
    background-color: #013A4E75;
    font-family: 'Courier New', Courier, monospace;
    font-size:9pt;
}

    #main-c {
        border-radius: 1rem;
        padding: 1.5rem;
        background-color: rgba(255, 255, 255, 0.4);
        color: #ffffff;
    }    

        .maincard {
            background-color: rgb(255, 255, 255);
            border-radius: .5rem;
            padding: 2rem 0;
            margin: 1.5rem 0 3rem;
            color: #434343;
            margin-bottom: 15rem;

        }    

        .maincard h2, .maincard h1 {
            font-size: 11pt;
            margin-bottom:.5rem;}

        .maincard .profile-image {
            object-fit:cover;
            object-position:center;
            display:block;
            width:100px;
            height:100px;
            border-radius:50%;
            border:5px solid white;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.163), 0 3px 5px rgba(0, 0, 0, 0.094);
        }

/* HIREBAR STYLES */

#hire-bar {
    background: linear-gradient(-179deg,#01394e75 59%, #4D85A8 60%);
    font-family: 'Courier New', Courier, monospace;
    font-size:9pt;
}

    #hire-bar-c {
        border-radius: 1rem;
        padding: 1rem 1.5rem;
        background-color: #fff;
    }


/* BUTTON STYLES */

button {
    padding: .35rem .75rem .25rem;
    background-color: #fff;
    border: 3px solid #343434;
    border-radius:2pt;
    font-size: 12pt;
    text-transform: uppercase;
    font-weight:bolder;
}

button a {
    color: #343434;
    text-decoration: none;
}

button a:hover {
    color:white;
}

button:hover {
    background-color: #4D85A8;
    border: 3px solid #01394e;
    color: white;
}


/* CONNECT STYLES */
#connect {
    height: 94vh;
}

#connect-c .section-title {
    grid-column: span 1;
}

#connect form {
    grid-row-start: 2;
    display:flex;
    flex-direction:column;
    justify-self: stretch;
    border: 3px solid #383838;
    border-radius:.50rem;
    padding:2rem 2rem 3rem;
    text-align:center;
}

    form label, form input {
        display:block;
    }

    #connect label {
        text-align:left;
        font-size: 8pt;
        text-transform: uppercase;
        font-weight: 500;
    }

    #connect input {
        height: 2rem;
        /* width: 11vw; */
        margin: .25rem 0 1rem 0;
    }

    #connect button {
        margin-top: .5rem;
    }

#connect .side {
    grid-column: span 2;
    grid-row: span 2;
    text-align: right;
    color:#383838;
}

    #connect .quote {
        font-size:24pt;
        font-weight:bolder;
        margin-bottom: 2rem;
        line-height:2.75rem;
    }

    #connect .side h3 {
        margin-top: 2rem;
        text-transform: uppercase;
    }

    #connect .side p {
        margin-bottom:.5rem;
    }

    #connect .side a {
        font-family:'Courier New', Courier, monospace; 
        font-weight: bold;
        text-transform: lowercase;
        color:#383838;
    }

/* FOOTER STYLES */

footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size:7pt;
    padding:1rem;
    background-color: #212121;
    color:white;
}

footer .quote {
    font-size: 9pt;
}

footer .logo {
        font-family: 'Courier New', Courier, monospace;
        font-size: 9pt;
        font-weight:bold;
}

    .middle {
        text-align: center;
    }

    .right {
        text-align: right;
    }

footer a {
    color:white;
}
